# Data science tools and equipments

In this notebook, data science tools and ecosystem are summarized

**Objectives**

- comment on data science tools
- list popular languange that scientist use in data science
- list common used libralies that scientists use for data science

In [ ]:
some of the language that scientist use are: 1 python 2 Java 3 julia

In [ ]:
some of the common used libraries used by scientists include: 
1 numpy 
2 scipy 
3 keras

Data Science Tools

In [ ]:
Data science tools
1 SAS
2 Apache spark
3 BigML

Introducing arithematic expression

# # # below are few evaluating arithmetic expression in python

this is a simple arithmetic expression to multiply and add integer

In [ ]:
Print(3*4)+5
# result 17

This will convert 200 minutes to hours by dividing by 60

In [ ]:
days = 0
hours = 0
minutes = 0

time = 200
#days = time/1440
renain minutes = time % 1440
hours = remaining minutes / 60 
#mins = time -(days*1440) -hours*60
print(str(days) + " days, " + str (hours) + "hours," + str(mins) + "mins")
# results 3.3333333333333335 hours

In [ ]:
0 days, 3.3333333333333335 hours, 0 minutes

# # Author

ottilie hamukoto